button {
  width: 250px;
  height: 80px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}
button:hover {
  background-color: blueviolet;
}

.Click-button {
  background-color: brown;
}

.Start-button {
  background-color: coral;
}
